<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Category:</strong>
  <%= @post.category.title %>
</p>

<div class="row">
  <div class="col-sm-12">
    <% @post.tags.each do |tag| %>
      <span class="badge badge-warning"><%=tag.name%></span>
    <%end%>
  </div>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
