<div class="col-md-3">
    <% if user_signed_in? %>
        <h6>ADMIN</h6>
        <ul class="list-group">
            <li class="list-group-item"><%= link_to 'Users', users_path, class: "nav-link" %></li>
            <li class="list-group-item"><%= link_to 'Posts', posts_path, class: "nav-link" %></li>
            <li class="list-group-item"><%= link_to 'Categories', categories_path, class: "nav-link" %></li>
            <li class="list-group-item"><%= link_to 'Manage Tags', tags_path, class: "nav-link" %></li>
        </ul>
    <% end %>
    <%= render "layouts/tags"%>
</div>